{% extends 'base.html' %} {% load static %} {% block styles %}
<link
  href="{% static 'gallery/css/gallery.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}
<div class="container">
  <h2>Your saved image gallery</h2>

  {% if page_obj %}
  <div class="image-gallery">
    {% for image in page_obj %}
    <div class="image-container">
      <img
        src="{{ image.image_url }}"
        class="image-item"
        alt="Image {{ forloop.counter }}"
      />
      <div class="image-actions">
        <!-- Download -->
        <form action="{% url 'download_saved_image' image.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="action-button">⬇️ Download</button>
        </form>
        <!-- Delete -->
        <form action="{% url 'delete_saved_image' image.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="action-button">❌ Delete</button>
        </form>
        <!-- Edit -->
        <a href="{% url 'edit_image_view' image.id %}" class="action-button"
          >✏️ Edit</a
        >
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Пагінація -->
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span
        >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span
      >
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </span>
  </div>
  {% else %}
  <div class="no-images-message">
    <p>You don't have any saved images yet.</p>
  </div>
  {% endif %}
</div>
{% endblock %}
