body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #222;
  background-image: url("../img/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 120%;
}

div.card {
  background: #000000dc;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
}

form.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 110%;
  width: calc(100% - 100px);
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  outline: none;
  height: 44px;
  width: 44px;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #7c7c7c6b;
}

h1.city {
  display: block;
  font-size: 1.5em;
  margin-top: 0.6em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: inherit;
}

h2.temp {
  display: block;
  font-size: 2em;
  margin-top: 0.6em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: inherit;
}

div.description {
  display: flex;
  align-items: center;
}

div.weather-details {
  display: block;
  margin-top: 0.2em;
  margin-left: 8px;
  font-family: inherit;
}
img.weather-icon {
  margin-left: 4px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

img.country-icon {
  margin-left: 4px;
  overflow-clip-margin: content-box;
  overflow: clip;
}
