{% extends "base.html" %} {% load static %} {% block styles %}
<link
  href="{% static 'accounts/css/accounts.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}
<h2 style="text-align: center; margin-top: 20px">Register</h2>

<form method="post" class="register-container">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="register-form-button">Register</button>
</form>

{% if form.errors %}
<div class="register-errors">
  <ul>
    {% for field in form %} {% for error in field.errors %}
    <li><strong>{{ field.label }}:</strong> {{ error }}</li>
    {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<p class="register-login-link">
  Already have an account? <a href="{% url 'login' %}">Login here</a>.
</p>
{% endblock %}
