{% extends 'base.html' %} {% block content %}

<main
  style="background-image: url('{{ background_url }}'); background-size: cover; background-position: center; padding: 2em 0;"
>
  <div class="site-info">
    <h2>Про цей вебзастосунок</h2>

    <ul>
      <li>
        Це Вебзастосунок для пошуку та обробки зображень з відкритим доступом,
        зроблений спеціально для виконання Кваліфікаційної роботи для отримання
        ступеня бакалавра.
      </li>
      <li>Має такий функціонал як:</li>
      <ul>
        <li>Пошук за запитом користувача;</li>
        <li>Відфільтрування зображень за заданим критерієм;</li>
        <li>Можливість завантажити зображення у обране користувачем місце;</li>
        <li>Редагування фото (опціонально);</li>
        <li>
          Визначення штучним інтелектом груп, до яких належить дане фото
          (опціонально).
        </li>
      </ul>
    </ul>
  </div>
</main>
{% endblock %}
