{% extends 'base.html' %} {% block search_section %}
<!-- Заголовок та пояснення -->
<h2 class="categories-header">Категорії для вибору:</h2>
{% endblock %} {% block content %}
<!-- Секція категорій -->
<div class="categories">
  {% for category in categories %}
  <div class="category-card">
    <!-- Зображення категорії -->
    <img
      src="{{ category.image_url }}"
      alt="{{ category.name }}"
      class="category-image"
    />
    <h3>{{ category.name }}</h3>
    <!-- Назва категорії -->
    <a
      href="{% url 'search_view' %}?search_query={{ category.name }}"
      class="category-link"
      >Переглянути</a
    >
    <!-- Кнопка для перегляду -->
  </div>
  {% endfor %}
</div>
{% endblock %}
