{% comment %} Зроби базову сторінку, а вже на її основі інші, бо вигляд має
бути досить схожим. Також зроби загальну папку або тільки її або поряд із
індивідуальними. 
Серч об'єднай із кором, а от процесінг лиши, також можливо додай про аккаунт {% endcomment %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title_of_app }}</title>
    <link
      href="{% static 'css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
  </head>

  <body>
    <header>
      <h1>Royalty-Free Search App</h1>
      <div class="nav-links">
        <a href={% url 'home' %}>Home</a>
        <a href={% url 'categories' %}>Categories</a>
        <a href={% url 'about' %}>About</a>
        <a href={% url 'contact' %}>Contact</a>
      </div>
    </header>

    <section class="search-section">
      <h2>Search High-Quality, Free Images</h2>
      <form method="GET" action="{% url 'search_view' %}">
        <input
          type="text"
          name="search_query"
          placeholder="Search for images, videos, vectors..."
          value="{{ search_query }}"
        />
        <button type="submit">Search</button>
      </form>

      {% if search_query %}
        <h3>Results for "{{ search_query }}":</h3>
        <div class="image-gallery">
          {% if image_urls %}
            <div class="images">
              {% for url in image_urls %}
                <div class="image-container">
                  <img src="{{ url }}" alt="Search result" class="image-item" />
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>No images found for "{{ search_query }}".</p>
          {% endif %}
        </div>
      {% endif %}
    </section>

    <footer>
      <p>&copy; 2025 Royalty-Free Search App. All Rights Reserved.</p>
      <p>
        Follow me on <a href="https://github.com/Yustick">GitHub</a>, <a href="https://github.com/Yustick/Royalty-Free-Search-App">Посилання на цю роботу</a>
      </p>
    </footer>
  </body>
</html>
