/* Base CSS */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-links a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.account-buttons {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

.account-buttons a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  background-color: white;
  padding: 4px;
}

.account-buttons a img:hover {
  transform: scale(1.1);
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
