/* Стилі для home.html */
.search-section {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-inner {
  padding: 120px 0;
  max-width: 1000px; /* Збільшено максимальну ширину */
  width: 100%;
}

.search-inner h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Тінь для підвищення контрасту */
}

.search-inner form {
  display: inline-block;
  background-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* Замість білого використовуємо ніжний кремовий відтінок */
  padding: 12px;
  border-radius: 8px; /* Трохи округлені кути */
  width: 77%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Легке затемнення для кращої видимості */
}

.search-inner input[type="text"] {
  padding: 12px 15px; /* Збільшено внутрішні відступи */
  width: 100%; /* Забезпечуємо, щоб поле займало всю доступну ширину */
  max-width: 600px; /* Максимальна ширина поля для введення */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-inner button {
  padding: 12px 25px; /* Збільшені внутрішні відступи */
  background-color: #ff9900; /* Яскравий помаранчевий, щоб виділятися */
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Легкий ефект тіні для "підняття" кнопки */
}

.search-inner button:hover {
  background-color: #e68a00; /* Трохи темніший помаранчевий при наведенні */
  transform: scale(1.05); /* Ефект збільшення кнопки при наведенні */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Інтенсивніша тінь */
}

/* Стилі для categories.html */
.categories-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 170, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 1em 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 1em 1em;
}

.category-card {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: white;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-top: auto;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.category-card h3 {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

.category-link {
  display: block;
  padding: 0.8em;
  background-color: #ffcc00;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.category-link:hover {
  background-color: #ff9900;
}

/* Стилі для about.html */
.site-info {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5em;
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
.site-info h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 1em;
  font-weight: 600;
}

/* Нові стилі для абзаців у .site-info */
.site-info p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #444;
  margin-bottom: 0.5em; /* Зменшено відступ між абзацом і списком */
}

/* Стилі списку функціоналу */
.site-info ul {
  font-size: 1.2em;
  line-height: 1.6;
  color: #444;
  margin: 0;
  padding-left: 1.5em;
  list-style-type: disc;
}

.site-info ul li {
  margin-bottom: 0.5em;
}

.site-info ul li:last-child {
  margin-bottom: 0;
}
