<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Royalty-Free Search App</title>
  </head>
  <body>
    <h1>Royalty-Free Search App<h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus fugiat, explicabo earum provident sit minima molestias nam ipsum sequi esse sint adipisci, illo dolore, accusantium assumenda unde saepe distinctio.</p>
  </body>
</html>
