{% extends 'base.html' %} {% load static %} {% block styles %}
<link
  href="{% static 'core/css/core.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}

<main
  style="background-image: url('{{ background_url }}'); background-size: cover; background-position: center; padding: 2em 0;"
>
  <div class="site-info">
    <h2>About this web aplication</h2>
    <p>
      This is a web application for searching and processing open-access images,
      made specifically for the purpose of completing the Qualification Work for
      a Bachelor's Degree.
    </p>

    <p>It has functionality such as:</p>
    <ul>
      <li>Search by user request;</li>
      <li>Ability to download images;</li>
      <li>Photo editing;</li>
      <li>
        Ability to register an account and save selected photos to bookmarks for
        further processing or downloading.
      </li>
    </ul>
  </div>
</main>
{% endblock %}
