{% extends 'base.html' %} {% load static %} {% block styles %}
<link
  href="{% static 'core/css/core.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %}{% block search_section %}
<h2 class="categories-header">Категорії для вибору:</h2>
{% endblock %} {% block content %}

<div class="categories">
  {% for category in categories %}
  <div class="category-card">
    <img
      src="{{ category.image_url }}"
      alt="{{ category.name }}"
      class="category-image"
    />
    <h3>{{ category.name }}</h3>
    <a
      href="{% url 'search_view' %}?search_query={{ category.name }}"
      class="category-link"
      >Переглянути</a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
