<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{% static 'core/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>Royalty-Free Search App</title>
    <link
      href="{% static 'core/css/style.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <h1>Royalty-Free Search App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus
      fugiat, explicabo earum provident sit minima molestias nam ipsum sequi
      esse sint adipisci, illo dolore, accusantium assumenda unde saepe
      distinctio.
    </p>
  </body>
</html>
