{% extends 'base.html' %} {% load static %} {% block styles %}
<link
  href="{% static 'search/css/search.css' %}"
  rel="stylesheet"
  type="text/css"
/>
{% endblock %} {% block content %}
<div class="image-gallery">
  {% for image in page_obj %}
  <div class="image-container">
    <img
      src="{{ image.url }}"
      alt="Image"
      class="image-item"
      data-url="{{ image.url }}"
      data-author="{{ image.author }}"
      data-source="{{ image.source }}"
    />
    <div class="image-actions">
      <form method="post" action="{% url 'download_image' %}">
        {% csrf_token %}
        <input type="hidden" name="image_url" value="{{ image.url }}" />
        <input type="hidden" name="search_query" value="{{ search_query }}" />
        <button type="submit" class="action-button">⬇ Download</button>
      </form>
      <form method="post" action="{% url 'save_image_to_gallery' %}">
        {% csrf_token %}
        <input type="hidden" name="image_url" value="{{ image.url }}" />
        <input type="hidden" name="search_query" value="{{ search_query }}" />
        <button type="submit" class="action-button">💾 Save</button>
      </form>
    </div>
  </div>
  {% empty %}
  <p>No images found for your search.</p>
  {% endfor %}
</div>

<!-- Pagination -->
{% if page_obj %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="?page=1&search_query={{ search_query }}">First</a>
    <a
      href="?page={{ page_obj.previous_page_number }}&search_query={{ search_query }}"
      >Previous</a
    >
    {% endif %}
    <span
      >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span
    >
    {% if page_obj.has_next %}
    <a
      href="?page={{ page_obj.next_page_number }}&search_query={{ search_query }}"
      >Next</a
    >
    <a
      href="?page={{ page_obj.paginator.num_pages }}&search_query={{ search_query }}"
      >Last</a
    >
    {% endif %}
  </span>
</div>
{% endif %}

<!-- Modal -->
<div id="imageModal" class="modal">
  <span id="closeModal" class="close">&times;</span>
  <img class="modal-content" id="modalImage" />
  <div id="modalCaption" class="caption"></div>
</div>
{% endblock %} {% block scripts %}
<script src="{% static 'js/modal.js' %}"></script>
{% endblock %}
